# Run `make up-reqs` to update pinned dependencies in requirement text files

acme
alembic-autogenerate-enums
arrow
asyncpool
boto3
botocore
celery[redis]
certifi
certsrv
CloudFlare
cryptography
dnspython3
dyn
flask
Flask-Bcrypt
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
sqlalchemy
Flask
Flask-Cors
flask_replicated
future
gunicorn
hvac
inflection
jinja2
lockfile
logmatic-python
marshmallow-sqlalchemy
marshmallow
ndg-httpsclient
paramiko  # required for the SFTP destination plugin
pem
psycopg2
pyjks
pyjwt
pyOpenSSL
pyyaml
python_ldap
raven[flask]
redis
requests
retrying
six
SQLAlchemy-Utils
tabulate
xmltodict
